#headBlock{
    position: fixed;
    top:0px;
    left:0;
    width:101%;
    min-width:800px;
    background-color: #3e4b5e;
    height:110px;
    *border: 1px solid #000;
    background-position: 0px 0px, center;
    background-size: contain;
    background-repeat:no-repeat;
    z-index:2;
}
#headBlock img[css=logo]{
	position:absolute;
	left:0;
	top:0;
	height:110px;
}
#headBlock div[css=hl]{
    display:table;
    position: relative;
    margin:44px auto auto auto;
    padding:0 0 0 40px;
    *background-color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align:center;
    color:#FFF;
}