html{
	height: 100%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
	*max-height: 80%;
	min-width:800px;
	margin:0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size:12px;
	padding:120px 8px 8px 8px;
	background-color:#dcdcdc;
	background-image: linear-gradient(#BBB, rgb(216, 216, 216));
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

